*{
	margin: 0;
	padding: 0;
}
.odd {
	background-color: #ccc;
}
.even{
	background-color: #fff;
}
.checked {
	background-color: #333;
}
table {
	margin: 30px auto;
	border: 1px solid #000;
	border-collapse:collapse;

}
table caption {
	font-size: 18px;
	font-family: Arail;
	margin-bottom: 5px;s
}
table td,
table th{
	width: 70px;
	height: 40px;
	border: 1px solid #000;
}
table td{
	text-align: center;
}